.example-sidenav-fab-container {
    height: calc( 100vh - 64px );
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
  }
  
  .example-sidenav-fab-container mat-sidenav {
    /* max-width: 200px; */
  }
  
  .example-sidenav-fab-container .mat-sidenav-content,
  .example-sidenav-fab-container mat-sidenav {
    display: flex;
    overflow: visible;
  }
  
  .example-scrolling-content {
    overflow: hidden;
    height: 100%;
  }
  
  .example-fab.mat-mini-fab {
    position: absolute;
    right: 20px;
    bottom: 10px;
  }

  .content{
    margin: 0 auto !important;
    width: 100% !important;
    overflow: scroll !important;
  }