
<div style="position:relative;background-color:rgb(245, 245, 245);height:68px;">
    <div style="position:absolute;top:10px;left:30px">
      <button mat-raised-button color="primary" class="add-photo" (click)="openDialog()">Add Photo</button>
    </div>

    <div style="position:absolute;top:10;right:30px">
        <div style="display:inline-block">
              <mat-form-field style="width:140px;">
                <mat-select placeholder="Sort" [ngModel]="sort" (ngModelChange)="sortChange($event)" >
                  <mat-option *ngFor="let sort of sorts" [value]="sort.value">
                    {{ sort.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div style="display:inline-block" *ngIf="sort">
              <mat-form-field style="width:130px;padding-left:10px;">
                <mat-select placeholder="Order" [ngModel]="order" (ngModelChange)="orderChange($event)">
                  <mat-option  [value]="'ASC'">
                      Ascending
                  </mat-option>
                  <mat-option  [value]="'DESC'">
                      descending
                    </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>      
</div>
<div *ngIf="sort != 'tags'">
    <div *ngIf="photos">
        <mat-card class="photo-card" *ngFor="let photo of photos">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>{{photo.album.name}} Album</mat-card-subtitle>
          </mat-card-header>
          <mat-card-title>{{photo.title}}</mat-card-title>
          <img mat-card-image [src]="photo.url" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              <span *ngFor="let tag of photo.tags"><b>#{{tag.name}} </b></span>
            </p>
          </mat-card-content>
        </mat-card>
    </div>
</div>

<div *ngIf="sort == 'tags'">
  <div *ngFor="let tag of photos">
    <div>
        <mat-chip-list style="padding-left:50px; padding-top:20px;">
            <mat-chip>{{tag.name}}</mat-chip>
        </mat-chip-list>
        <mat-card class="photo-card" *ngFor="let photo of tag.photos">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>{{photo.album.name}} Album</mat-card-subtitle>
            </mat-card-header>
            <mat-card-title>{{photo.title}}</mat-card-title>
            <img mat-card-image [src]="photo.url" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                <span *ngFor="let tag of photo.tags"><b>#{{tag.name}} </b></span>
              </p>
            </mat-card-content>
        </mat-card>
        <hr>
    </div>
  </div>
</div>